<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Map</title>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css' rel='stylesheet' />
  <style>
    body { margin:0; padding:0; }
    #map { position:absolute; top:0; bottom:0; width:100%; }

    .map-overlay {
      font: medium 'Helvetica Neue', Arial, Helvetica, sans-serif;
      position: absolute;
      width: 200px;
      top: 0;
      left: 0;
      padding: 10px;
    }

    .map-overlay .map-overlay-inner {
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding: 10px;
      margin-bottom: 10px;
    }

    .map-overlay h2 {
      line-height: 24px;
      display: block;
      margin: 0 0 10px;
    }

    .map-overlay .legend .bar {
      height: 10px;
      width: 100%;
      background: linear-gradient(to right, #f0c010, #ff0000);
    }

    .map-overlay input {
      background-color: transparent;
      display: inline-block;
      width: 100%;
      position: relative;
      margin: 0;
      cursor: ew-resize;
    }

    .map-overlay input #slider_date {
      height: 2em;
    }

    .map-overlay-inner fieldset {
      border: none;
      padding: 0;
      margin: 0 0 10px;
    }

    .map-overlay-inner fieldset:last-child {
      margin: 0;
    }

    .map-overlay-inner select {
      width: 100%;
    }

    .map-overlay-inner label {
      display: block;
      font-weight: bold;
      margin: 0 0 5px;
    }

    .map-overlay-inner .date label {
      font-size: xx-large;
    }

    .map-overlay-inner button {
      display: inline-block;
      width: 36px;
      height: 20px;
      border: none;
      cursor: pointer;
    }

    .map-overlay-inner button:focus {
      outline: none;
    }

    .map-overlay-inner button:hover {
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
    }

    .map-overlay-inner .blue button {
      background-color: blue;
    }
    .map-overlay-inner .green button {
      background-color: green;
    }
  </style>
</head>
<body>

<div id='map'></div>
<div class="map-overlay top">

  <div class="map-overlay-inner">
    <h2>XXX</h2>
    <div class="date"><label id="current_date"><br/></label></div>
    <input id="slider_date" type="range" min="0" max="<%- n_days-1 %>" step="1" value="0" />
  </div>

  <div class="map-overlay-inner">
    <div id="legend" class="legend">
      <div class="bar"></div>
      <div>Magnitude (m)</div>
    </div>
  </div>

  <div class="map-overlay-inner">
    <fieldset>
      <label>Select layer</label>
      <select id="layer" name="layer">
        <option value="water">Water</option>
        <option value="building">Buildings</option>
      </select>
    </fieldset>
    <fieldset>
      <label>Choose a color</label>
      <div id="swatches">
        <div class="blue"><button id="blue_button"></button></div>
        <div class="green"><button id="green_button"></button></div>
      </div>
    </fieldset>
  </div>
</div>

<script src="https://unpkg.com/three@0.106.2/build/three.min.js"></script>
<script src="https://unpkg.com/three@0.106.2/examples/js/loaders/GLTFLoader.js"></script>
<script>
  mapboxgl.accessToken = '<%- app_config.MAPBOX_TOKEN %>';
  config = {
    DEBUG: <%- app_config.is_debug ? 'true' : 'false' %>,
    LOGLEVEL: <%- app_config.LOGLEVEL %>,
    DATE_BEGIN: <%- app_config.DATE_BEGIN %>,
    DATE_PERIOD_MSEC: <%- app_config.DATE_PERIOD_MSEC %>
  };
</script>
<script src="util.js"></script>
<script src="map.js"></script>

</body>
</html>
